{% extends "todo/base.html" %}
{% load static %}

{% block content %}
<div class="container py-10 px-10 mx-0 min-w-full flex flex-col items-center">
    <h1 class="gradient-text text-5xl mb-3 text-black">Welcome to ToDo</h1>
    <p class="gradient-text text-black">A to-do app made by Samuel Näsström</p>
    <a href="{% url 'login' %}" class="background-gradient text-white hover:bg-blue-400 font-bold py-2 px-4 mt-3 rounded">Login</a>
    <a href="{% url 'signup' %}" class="background-gradient text-white hover:bg-blue-400 font-bold py-2 px-4 mt-3 rounded">Register</a>
  </div>
{% endblock content %}
