{% extends 'todo/base.html' %}

{% block content %}
<h1 class="text-4xl underline underline-offset-4 mb-8">{{ task.title }}</h1>
    <div class="bg-gray-50 p-8 rounded shadow my-4">
        <p class="text-2xl">{{task.description}}</p>
        <hr class="my-4">
         <a class="px-7 py-2 bg-gray-300 rounded md:mr-4 hover:bg-gray-200" href="{% url 'task-edit' task.pk %}">Edit</a>
            <form class="inline" action="{% url 'task-delete' task.pk %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="px-7 py-2 bg-red-300 rounded hover:bg-red-200 hover:cursor-pointer" value="Delete" />
            </form>
    </div>
{% endblock content %}