{% extends "todo/base.html" %}
{% load static %}


{% block content %}
<h1>TASKS</h1>

<hr>

<ul>
    {% for task in object_list  %}
        {% if not task.completed %}
            <li>
                <input type="checkbox" name="" id="" default:"true">{{ task.title }}</input>
                |
                <div class="btn-group text-dark" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary"><a href="{% url 'task-detail' task.pk %}">Details</a></button>
                    <button type="button" class="btn btn-primary"><a href="{% url 'task-edit' task.pk %}">Edit</a></button>
                    <button type="button" class="btn btn-primary"><a href="{% url 'task-delete' task.pk %}">Delete</a></button>
              </div>
            </li>
        {% endif %}
    {% endfor %}
</ul>
<hr>
<h1>COMPLETED TASKS</h1>
<ul>
    {% for task in object_list %}
        {% if task.completed %}
        <li>
            <s>
                {{ task.title }}
            </s>
            |
            <div class="btn-group text-dark" role="group" aria-label="Basic example">
                <button type="button" class="btn btn-primary"><a href="{% url 'task-detail' task.pk %}">
                    Details
                    </a></button>
                <button type="button" class="btn btn-primary"><a href="{% url 'task-edit' task.pk %}">
                    Edit
                    </a></button>
                <button type="button" class="btn btn-primary"><a href="{% url 'task-delete' task.pk %}">
                    Delete
                </a></button>
              </div>
        </li>
        {% endif %}
    {% endfor %}
</ul>
<hr>
<button class="px-5 py-2 bg-blue-200 hover:cursor-pointer hover:bg-blue-300 rounded"><a href="{% url 'task-create' %}">CREATE TASK</a></button>
{% endblock content %}